@import "variables";

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
  font-family: $font-family-base;

  h1{
    font-size: $font-size-h1;
  }
  h2{
    font-size: $font-size-h2;
  }
  h3{
    font-size: $font-size-h3;
  }
  h4{
    font-size: $font-size-h4;
  }
  h5{
    font-size: $font-size-h5;
  }
  h6{
    font-size: $font-size-h6;
  }

  label{
    font-weight: 500;
  }

  .container {
    background-color: inherit;
  }
  .mainContainer {
    height: auto;
    min-height: 365px;
  }
}
