@import "variables";

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
  font-family: $font-family-base;

  .container {
    background-color: inherit;
  }
  .mainContainer {
    height: auto;
    min-height: 365px;
  }
}
