@import "variables";

body {
  background-color: $bg-color-purple;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;

  .mainContainer {
    height: auto;
    min-height: 365px;
  }

  .button {
    text-align: center;
  }
}
