@import 'variables';

.infoBlock {
  width: 100%;
  margin-top: 20px;

  .info {
    width: 100%;
    text-align: center;

    .infoText {
      display: block;
      color: $logo-color-primary;
    }
  }
}
