@import 'variables';

.logoLg,
.logoSm {
  width: 45%;
  margin: 20px auto 15px;

  svg {
    fill: $logo-color-primary;
  }
}
@media (min-width: $bp-screen-md) {
  .logoLg {
    width: 300px;
  }

  .logoSm {
    width: 200px;
  }
}
